.ad {
    width: 100%;
    border-bottom: 1px solid $button-separator;
    padding: $spacing-03 0px $spacing-03 0px;
}

.ad p {
    color: $text-05;
    font-size: 10px;
    padding-bottom: $spacing-02;
    margin-bottom: $spacing-03;
    border-bottom: 1px solid $button-separator;
}